@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    The Contact Pages
</header>

<body>
    <div id="input_commnet_form">
        <div>
            <span>Add a comment</span>
        </div>
        <div class="contact__column">
            <input type="text" placeholder="Your name" />
        </div>
        <div class="contact__column">
            <textarea id="sendcomment" placeholder="saySomething nice"></textarea>
        </div>

        <div class="contact__column">
          <input type="submit" placeholder="submit"/>
        </div>
    </div>
    <div id="get_comment">
        <p id="comment"></p>

    </div>


</body>
