.menu-link {
    padding: 15px;
    margin-top: 15%
}

.menu {
    margin-left: 70%;
    margin-bottom: 20px;
}
.menu a {
    color: white;
    font-size: 30px;
    font-weight: 600;

}

.menu a:hover {
    cursor:pointer;
    color:aqua;
}