@{
    ViewBag.Title = "Home Page";
}

    <body>
        <div class="menu-link">
            <div class="menu"> <a href="~/Todos/Calendar">CALENDAR</a></div>
            <div class="menu"> <a href="~/Todos/Todos">TODOS</a></div>
            <div class="menu"> <a href="~/Todos/Diary">DIARY</a></div>
            <div class="menu"> <a href="~/Todos/Address">ADDRESS</a></div>
        </div>
    </body>


@Styles.Render("~/Content/homecss")